#wpcontent{
    padding-left: 0 !important;
}
.automatic-title{
    width:100%;
    height:auto;
    background-color: rgb(5, 5, 39);
    padding: 20px 0;
}
.automatictitle{
    font-size: 18px;
    color:rgb(185, 177, 177);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  .select-box{
      margin-top: 100px;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: rgb(5, 5, 39);
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .select-span{
      font-size: 17px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .amicritas-button {
    margin-top: 50px !important;
    padding: 10px 24px;
    background-color: rgb(5, 5, 39); 
    border: none;
    color: rgb(185, 177, 177);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 700;
    }